<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>
    </head>
    <body>
        <form action="http://localhost:8080/chat" method="post" enctype="application/x-www-formurlencoded">
            <table>
                <tr>
                    <td><div>用户名:</div></td>
                    <td><input type="text" name="name" /></td>
                </tr>
                <tr><td><div>密码:</div></td>
                    <td><input type="text" name="password" /></td>
                </tr>
                <tr><td><div></div></td>
                    <td><input type="submit" /></td>
                </tr>
            </table>
        </form>
    </body>
</html>